body {
	background:url("terra-textura.png")
}

header {
	background: url("mineback.png");
	padding: 20px 0;
}

.caixa {
	position:relative;
	width: 940px;
	margin:0 auto;
}

.logo {
	display:inline;
	width:200px;
	position: relative;
}

nav  {
	position:absolute;
	top:110px;
	margin: 0 auto;
	right:0;
}

nav li {
	display:inline;
	font-family:"Minecraft-Evenings-Regular";
	margin: 0 0 0 15px;
	text-shadow: 0.2em 0.1em 0.1em #CCCCCC;
}

nav a {
	text-decoration:none;
	text-transform:uppercase;
	color:#000000;
	font-weight:bold;
	font-size:25px;
}

nav a:hover {
	color:#008000;
	text-decoration:underline;
}

.previa {
	margin:0 auto;
	text-align:center;
}

#mensagem {
	display:block;
	margin-left:30px;
	margin-bottom:15px;
	width: 50%;
}

.previa li {
	text-align:center;
	font-size:23px;
	display:inline-block;
	width: 30%;
	margin: 0 40px;
	border: 2px solid #000000;
	padding: 40px 50px;
	border-radius:10px;
	margin-top:20px;
	box-sizing:border-box;
	background:#CCCCCC;
	color:black;
	font-weight:bold;
	font-family:"candara";
}

.previa li:hover {
	background-color:#ADD8E6;
	border-color:#008000;
	border-width:2.5px;
}

#caverna {
	background:url("fundo-caverna.jpg");
	text-shadow: 0.05em 0.02em 0.1em black;
	color:#87cefa;
}

#nether {
	background:url(nether-fundo.png);
	text-shadow: 0.05em 0.02em 0.1em black;
	color:#ffa500;
}

.divconteudo {
	font-size:40px;
	color:#111111;
	margin:25px 0 auto;
	font-weight:bold;
	font-family:"Minecraft-Evenings-Regular", "arial";
	text-shadow: 0.1em 0.08em 0.1em #CCCCCC;
}

.titulo {
	text-align:center;
	font-size:30px;
	font-weight:bold;
}

em {
	text-decoration:underline;
	color:#FF0000;
	font-style:italic;
	font-weight:bold;
}

.previa a {
	text-decoration:none;
	color:#000000;
}

.imagemnoticia {
	width: 300px;
	margin: 0 auto;
}

@font-face {
	font-family:"Minecraft-Evenings-Regular";
	src:url(MinecraftEvenings-RBao.ttf) format("truetype");
}

@font-face {
	font-family:"MinecraftTen";
	src:url(MinecraftTen-VGORe.ttf) format("truetype");
}

.tituloinput {
	font-size:45px;
	font-family:"Minecraft-Evenings-Regular";
	margin-left:30px;
	display:block;
	width:50%;
	margin-bottom:25px;
	margin-top:20px;
	text-shadow: 0.1em 0.07em 0.1em #CCCCCC;
}

label {
	font-size:30px;
	font-family:"MinecraftTen";
	margin-left:30px;
	width:50%;
	text-shadow: 0.2em 0.04em 0.08em lightblue;
}

input {
	display:block;
	margin-left:30px;
	margin-bottom:15px;
	padding:10px 25px;
	width: 50%;
}

#enviar {
	width:15%;
	font-family:"Minecraft-Evenings-Regular";
	font-size:20px;
	text-shadow: 0.2em 0.1em 0.08em gray;
}

.caixa-noticia {
	width:840px;
	margin:0 auto;
	position:relative;
}

.textonoticia {
	font-size:32px;
	font-weight:bold;
	margin-left:20px;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align:center;
	font-family:"candara";
	color:;
	text-shadow: 0.05em 0.02em 0.1em gray;
}

.cavernanoticia {
	background:url("fundo-caverna.jpg");
}

#imagemnoticia {
	margin-left:60px;
}

.titulo1-17 {
	font-size:40px;
	text-align:center;
	font-family:"Minecraft-Evenings-Regular";
	font-weight:bold;
	text-shadow: 0.08em 0.05em 0.1em gray;
	margin-top:25px;
}

.nethernoticia {
	background:url("nether-fundo.png");
}

#imagem-nether {
	width:800px;
	display:block;
	margin-top:20px;
}

.copyright {
	color: #FFFFFF;
	font-size:13px;
	margin-top:20px;
	font-weight:bold;
}

.logocopy {
	width:120px;
}

footer {
	text-align:center;
	background: url("footer.png");
	padding:40px 0;
	margin-top:30px;
}